/* inicio */
* {
    box-sizing: border-box;
  }
  
body{
    background:#292929;
}

/* header */

.white-bg{
  background-color: #292929;
}

/* formulario */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.botao{
    margin-top: 10%;
margin-right: 30%;
    }
  
/* GRID */
.grid{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 60% 50%;
}

.p{
    margin: 5%;
    text-align: start;
}

.grid-item{
    margin: 5%;
    border: 1px solid black;
    background-color: rgb(170, 170, 170);
}


.item1{
    width: 70%;
    border-radius: 8px;
}

.item2{
    width: 70%;
    height: 500px;
    border-radius: 8px;
}



  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  


  /* reposividade */

  @media only screen and (max-width: 600px){

    .grid{
      padding-left: 10%;
      display: inline-block;
      
  } 

  .item1 img{
   width: 80%;
  }

  .col-75{
    width: 50%;
  }

  .col-25{
    width: 50%;
  }
  }